.wrapper{
    margin-bottom: 20px;
    position: relative;
}
.wrapper ul li{
    background: #fff;
    padding: 4px 6px 6px 6px;
    width: 100%;
    border: 1px solid transparent;
    &:hover{
        border: 1px solid #ddd;
    }
}

