.wrapper {
    width: 80%;
    border-bottom: 2px solid #47a7d7;
    margin-bottom: 15px;
}
.header {
    background: #47a7d7;
    color: #fff;
    text-transform: uppercase;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
}
.header-sidebar {
    font-size: 20px;
    padding: 15px;
    border: 1px solid #47a7d7;
}
.header-content {
    font-size: 18px;
    padding: 10px 10px 8px 10px;
    display: inline-block;
}

