.wrapper {
    margin-bottom: 20px;
}
.wrapper > ul::after {
    display: block;
    clear: both;
    content: '';
}
.wrapper > ul > li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}
.wrapper > ul li:before {
    position: absolute;
    content: '';
    top: 50%;
    right: 0px;
    width: 1px;
    height: 75%;
    background: #ddd;
    transform: translateY(-50%);
}
.wrapper > ul li:last-child::before {
    content: none;
}
.title{
    font-size: 16px;
    line-height: normal;
    font-weight: 300;
    margin-bottom: 5px;
    color: #000000cf;
}
.desc{
    font-size: 13px;
    color: #8e8e8e;
    line-height: normal;
}
.wp-avatar{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
